@import '../../styles/colors.scss';
@import '../../styles/mixin.scss';
@import '../../styles/breakpoints.scss';

.filter-slider {
    height: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 10px;
    margin-right: 10px;

  /* Removing the default appearance */
  &__thumb,
  &__thumb::-webkit-slider-thumb {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
  }
  
  &__thumb {
    pointer-events: none;
    position: absolute;
    height: 0;
    width: 320px;
    outline: none;
  }

  &__slider {
    position: relative;
    width: 320px;
  }
  
  &__thumb--left {
    z-index: 3;
  }
  
  &__thumb--right {
    z-index: 4;
  }

    /* For Chrome browsers */
  &__thumb::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 4em;
    width: 0.4em;
    background-image: url(./range-thumb-icon.svg);
    background-repeat: no-repeat;
    cursor: pointer;
    margin-top: 38px;
    pointer-events: auto;
  }

  /* For Firefox browsers */
  &__thumb::-moz-range-thumb {
    -webkit-appearance: none;
    height: 4em;
    width: 0.4em;
    background-image: url(./range-thumb-icon.svg);
    background-repeat: no-repeat;
    cursor: pointer;
    margin-top: 38px;
    pointer-events: auto;
  }

  &__thumb--right::-webkit-slider-thumb {
    transform: rotate(180deg);
    margin-top: -32px;
  }

  &__slider-track,
  &__slider-range,
  &__slider-left-value,
  &__slider-right-value {
    position: absolute;
  }
  
  &__slider-track,
  &__slider-range {
    border-radius: 3px;
    height: 7px;
  }
  
  &__slider-track {
    background-color: map-get($colors, ligth-gray);
    width: 100%;
    z-index: 1;
  }
  
  &__slider-range {
    background-color: map-get($colors, main-color);
    z-index: 2;
  }
  
  &__slider-left-value,
  &__slider-right-value {
    font-size: 12px;
    margin-top: 20px;
  }
  
  &__slider-left-value {
    left: 6px;
  }
  
  &__slider-right-value {
    right: -4px;
  }

  }
  
  
  

  

  

  